html {
    background-image: linear-gradient(to bottom, #9bd3ae, #d39ac0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    min-width: 450px;
}

.toolbar {
    background-image: linear-gradient(to right, #d42828, #26a126, #f0ff1c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

.toolbar a {
    display: inline-block;
    margin-right: 5px;
    color: rgb(4, 51, 3);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.toolbar a:last-child {
    display: inline-block;
    color: rgb(4, 51, 3);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;

}

.letrero_rama {
    width: fit-content;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 40px;
    background-color: rgb(141, 207, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letrero_respos_lobato {
    width: fit-content;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letrero_respos_ranger {
    width: fit-content;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(30, 98, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letrero_respos_pionero {
    width: fit-content;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(214, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letrero_respos_ruta {
    width: fit-content;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(3, 143, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuatro_fotos {
    display: flex;
}

.una_foto {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.una_foto img {
    width: 192px;
    height: 255px;
    margin-bottom: 10px;
}

.letrero_cargos {
    width: fit-content;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 40px;
    background-color: rgb(141, 207, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: center;
    display: flex;
}

.cargos {
    margin-top: 20px;
    justify-content: center;
    display: flex;

}

.lista_cargos {
    list-style: none;
}

.lista_cargos li {
    font-size: 20px;
    margin-bottom: 10px;
}

.RRSS_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 0px;
}

.instagram_footer {
    display: flex;
    align-items: center;
}

.instagram_footer img {
    width: 60px;
}

.facebook_footer {
    display: flex;
    align-items: center;
}

.facebook_footer img {
    width: 75px;
}

.btnFooter {

    background-color: #df3c2d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    padding: 32px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b32d24;
    margin: 0 auto;

}

.btnFooter:hover {
    background-color: #eb675e;
}

.btnFooter:active {
    position: relative;
    top: 1px;
}

.footer {
    background-color: lightgray;
    margin-top: 25px;
}

.footer_full {
    display: flex;
    align-items: center;
    height: 140px;
}

.primer_footer {
    width: 15%;
    height: 100%;
}

.primer_footer p {
    margin: 2px;
}

.segundo_footer {
    border-left: 1px solid black;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.segundo_footer a {
    width: 33%;
    height: auto;
}

.img_jerez {
    width: 90px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.img_SCA {
    width: 120px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.img_MSC {
    width: 120px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.tercer_footer {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuarto_footer {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.autor {
    background-color: lightgray;
    font-size: small;
}

@media (max-width: 1400px) {
    .una_foto img {
        width: 142px;
        height: 205px;
        margin-bottom: 10px;
    }

    .btnFooter {

        background-color: #df3c2d;
        border-radius: 4px;
        border: 1px solid #ffffff;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Verdana;
        font-size: 15px;
        padding: 32px 46px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #b32d24;
        margin: 0 auto;

    }

    .RRSS_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

    }
}